<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/myTODO</property>
		<property name="connection.username">root</property>
		<property name="connection.password">karan123</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- <property name="hbm2ddl.auto">update</property> --> <!-- Ek baar table create ho gyi hai aur fir dubara table nahi banana hai purane wle ko hta ke then we have to use 'update' -->
		<property name="hbm2ddl.auto">create</property> <!-- If we want to create new table and drop the old table then we have to use 'create' -->
		<property name="show_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name=""></property>

		<mapping class="com.tut.Student" /> <!-- for annotation -->
		<mapping class="com.tut.Address" />
		<mapping class="com.OneToManyMapping.Question2" />
		<mapping class="com.OneToManyMapping.Answer2" />

	</session-factory>
</hibernate-configuration>
